a {
text-decoration: none;
padding:1rem;
font-size:3rem;
color:white;
background-color:black;
border-radius:20px;
display:inline-block;
margin:1rem;
}

div {
    text-align: center;
    margin-top:10%
}

a:active {
    background-color:white;
    color:black;
}